.image{
    display: grid;
    grid-template-columns: 375px 375px 375px;
}
body {
    background-image: url(Background.jpg); background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: auto;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.top {
    color: white;
    font-size: 500%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}